
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 31px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 31px;
  line-height: 30px; /* Vertically center the text there */
  text-align: center;
}
/*
footer > div.container {
  border-top: 1px solid #f5f5f5;
}*/


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.header > .container {
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #f5f5f5;
}

code {
  font-size: 80%;
}

h1#title {
  text-align: center;
}

blockquote p {
	display: block;
	font-style: italic;
	font-weight: bold;
	margin: 0;
	width: 100%;
} 
