<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-sm-8  offset-sm-2">
          {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div> <!-- /col -->
      </div> <!-- /row -->
    </main>

    {{ partial "footer.html" . }}
    {{ partial "footer_js.html" . }}
  </body>
</html>

