
{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <hr>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<!--
<hr>
<aside id="meta">
    <div>
    <section>
      <h4 id="date"> {{ .Date.Format "2006-02-01" }} </h4>
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    <div>
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
</aside>
-->
{{end}}
