<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-muted">
        {{if $.Site.Params.footerleft}}
          {{$.Site.Params.footerleft | markdownify}}
        {{end}}
      </div>
      <div class="col-sm-4 text-muted">
        {{if $.Site.Params.footer}}{{$.Site.Params.footer}}{{end}}
      </div>
      <div class="col-sm-4 text-muted">
        {{if $.Site.Params.footerright}}
          {{$.Site.Params.footerright | markdownify}}
        {{end}}
      </div>
    </div>
  </div>
</footer>
