<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{{ "img/favicon.ico" | absURL }}">

  <title>{{.Site.Title}} / {{.Page.Title}}</title>

  <!-- bootstrap v4  core CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{ "css/site.css" | absURL }}" rel="stylesheet">

  {{ if .Site.GoogleAnalytics }}
  <!-- Google Analytics -->
  {{ template "_internal/google_analytics.html" . }}
  {{ end }}

</head>
