<header class="header">
 <div class="container">
  <!-- Fixed navbar -->

  <!-- need to override the background color to prevent toggler from disappearing -->
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #fff;">

    <a class="navbar-brand" href="{{.Site.BaseURL}}">{{if $.Site.Params.brand}}{{$.Site.Params.brand}}{{else}}{{.Site.Title}}{{end}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  " id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{.Name}}</a>
        </li>
      {{ end }}
      </ul>
    </div>

  </nav>
 </div>
</header>
