
{{ define "main" }}

<div class="homepage-content">
  <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
  <h1 id="title">{{.Page.Params.banner}}</h1>
  <hr>
  {{.Content}}
</div>
<!--
<div>
  <- Note that .Data.Pages is the equivalent of .Site.Pages on the homepage template. >
  {{ range first 10 .Data.Pages }}
      {{ .Render "summary"}}
  {{ end }}
</div>
-->
{{end}}
